body {
    background-image: url("../../images/bkgrnd.png");
    background-size:     cover;                      /* <------ */
    background-attachment: fixed;
    background-position: center center;      
  }

  .container{
    margin: auto;
    margin-top: 10%;
    width: 25%;
    background-color:  #212529;
    padding: 10px;
    border-radius: 15px;
    color: aliceblue;
    
  }

  .title {
    color: white;
  }

  .techDesc{
    margin: 12%;
  }
  .email{
    margin-bottom: 12%;
    margin-top: 12%;
  }
  .password{
    margin-bottom: 12%;
    margin-top: 12%;
  }
  