
.pageContainer {
  background-image: url("../../images/d3logo.png");
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: left center; 
  background-color: black; 
  height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: right;
  padding-right: 300px;
}

.loginForm {
  width: 20%;
  background-color: #222529;
  padding: 20px;
  border-radius: 15px;
  color: aliceblue;
}

.title {
  color: white;
}

.email, .password, .confirmPassword, .login, .techDesc {
  margin-top: 12px;
}

.signup{
  margin-top: 18px;
  float: right;
}


@media screen and (max-width: 768px) {
  .pageContainer {
    justify-content: center;
    padding-right: 0; 
  }

  .loginForm {
    width: 100%; 
    max-width: 400px; 
  }
}
