.pageContainer {
  background-image: url("../../images/bkgrnd.png");
  background-size: cover;
  background-position: center;
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1s ease-in; 
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}